// DataListTable.scss

.DataListTable {
    .mobileTableTitle {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
  
    .tableTitle {
      font-size: 1.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
  
    .custom-table {
      background-color: #f8f9fa;
      border-radius: 0.25rem;
    }
  }
  