#root {
    font-family: 'Segoe UI';
  }

$white: #ffffff;

$theme-colors: (
    "light":      #eec6d6,
    "dark":       #363367,
    "primary":    #5077b7,
    "secondary":  #98adc5,
    "info":       #b3dff3,
    "success":    #3fc77b,
    "warning":    #edd435,
    "danger":     #fa312c,
);

@import 'bootstrap/scss/bootstrap.scss';